@import "_variables.less";
@import "bootstrap-less/mixins.less";


.panel{
  .make-xs-column(12);
  .make-sm-column(12);
  .make-md-column(4);
  .make-lg-column(4);
}

.panel {
  border: 0;
  box-shadow: none;
}
.panel-topbar{
  border-bottom: 2em solid @brand-primary;
	border-left: 2em solid transparent;
	border-right: 2em solid transparent;
	height: 1em;
  margin: 0 0;
  width: 60%;
  float: left;
  left: 20%;
  position: relative;
  >h1{
    text-align: center;
    font-size: 1em;
    color: white;
    line-height: 0.01em;
    margin-top: 1em;
  }
}

.panel-text, .panel-footer{
  border: 1px solid #c0c0c0;
}

.panel-text{
  padding-top: 1em;
  padding-bottom: 6em;
  padding-left: 1em;
  padding-right: 1em;
}

.panel-footer{
  background-color: white;
  margin-bottom: 1em;
  height: 3em;

}
.glyphicon, .star-rating-wrapper{
  position: relative;
}

.glyphicon{
  width: 70%;
  float: left;
}

.star-rating-wrapper{
  float: right;
  width: 30%;
  height: 1em;
  color: #c5c5c5;
  font-size: 1em;
  unicode-bidi: bidi-override;
  position: relative;
  text-shadow: 0 1px 0 #a2a2a2;
}

.star-rating-wrapper::before {
  content: '★★★★★';
  opacity: .3;
}

[title=".875"]::after {
  width: 87.5%;
}

.star-rating-wrapper::after {
  color: gold;
  content: '★★★★★';
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top:0;
  width: attr(rating);
  overflow: hidden;
}
.pagination-wrapper{
  display: inline-block;
  width: 100%;

}
.pagination-container{
  padding-left: 60%;
  //position: relative;
}

.pagination-container a {
  color: @brand-primary;
  float: left;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #dddddd;
}
.pagination-container a.active {
    background-color: #c0c0c0;
    color: blue;
    border-radius: 0.3em;
    border: 1px solid #c0c0c0;
}
.pagination-container a:hover:not(.active) {
    background-color: @brand-primary;
    border-radius: 0.3em;
    color: white;
}

.info-head {
  font-family: "Times New Roman";
  font-style: italic;
  margin-bottom: 30px;
  margin-left: 45px;
  color: grey;
  font-size: 1.7em;
  font-weight: 500;
}
