.footer-main-column {
	height: 80px;

	background-color: @brand-primary;

	padding: 10px;
	color: #fff;


	.container {
		text-align: center;
		>h2, >p, >a{
			display: inline-block;

		}
		>h2{
			font-size: 1.5em;
			text-transform: uppercase;
			margin: 20px 20px;

		}
		>p {
			font-size: 1.3em;

		}
		>a {
			font-size: 0.8em;
			text-transform: uppercase;


		}
	}	

	@media(max-width: @screen-xs-max){
		height : 120px;
		min-width: 400px;
		position:relative;
		h2 {
			positon :absolute;
			//float: left;
			top: 50px;
			
		}
		p{
			width: 200px;
			float: right;

		}
		.btn {
			top: 50px;

		}
	}
	
}

.footer-copy-column {
	height: 80px;
	position: relative;

	>p{
		text-align: center;
		color: @brand-primary;
	}
}