@import "_variables.less";
@import "bootstrap-less/mixins.less";

.footer-main-column-wrapper {
  background-color: @brand-primary;
}
.footer-copy-column-wrapper{
  background-color: #f3f3f3;
}

.footer-main-column-container {
  color: white;

  .teacher{
    .make-lg-column(2);
    .make-md-column(2);
    .make-sm-column(2);
    .make-xs-column(12);
    padding: 0;
  }

  .submit{
    .make-lg-column(8);
    .make-md-column(8);
    .make-sm-column(8);
    .make-xs-column(12);
    text-align: center;

  }

  .learn{
    .make-lg-column(2);
    .make-md-column(2);
    .make-sm-column(2);
    .make-xs-column(12);

    @media (max-width: @screen-xs-max) {
      width: 50%;
      margin: 0 auto;
    }
  }

  .teacher>h2 {
    font-size: 2em;
    font-weight:bold;
    text-transform: uppercase;
    float: left;
    padding: 0;
  }
  .submit>p{
    font-size: 1.4em;
  }
  .learn>a{
    text-transform: uppercase;
    width: 140px;
    float: right;
  }


}

.footer-copy-column-container{
  color: @brand-primary;
  height: 5em;

  >p{
    padding-top: 1em;
  }
}